{{/*
  Goldmark/CommonMark 的强调闭合规则要求 `**` 之后不能紧贴非标点字符。
  中文排版没有空格，所以 `**第六列（...）**表示...` 这类写法会原样输出 `**`。
  这里在渲染后的 HTML 上做受控修正，且跳过代码块与数学公式。
*/}}
{{- $html := printf "%s" .Content -}}

{{- $mathBlocks := findRE `(?s)<div class="math[^"]*">.*?</div>` $html -}}
{{- range $i, $block := $mathBlocks -}}
  {{- $html = replace $html $block (printf "__CJK_MATH_BLOCK_%d__" $i) 1 -}}
{{- end -}}

{{- $mathSpans := findRE `(?s)<span class="math[^"]*">.*?</span>` $html -}}
{{- range $i, $span := $mathSpans -}}
  {{- $html = replace $html $span (printf "__CJK_MATH_SPAN_%d__" $i) 1 -}}
{{- end -}}

{{- $preBlocks := findRE `(?s)<pre.*?</pre>` $html -}}
{{- range $i, $block := $preBlocks -}}
  {{- $html = replace $html $block (printf "__CJK_PRE_%d__" $i) 1 -}}
{{- end -}}

{{- $codeSpans := findRE `(?s)<code.*?</code>` $html -}}
{{- range $i, $span := $codeSpans -}}
  {{- $html = replace $html $span (printf "__CJK_CODE_%d__" $i) 1 -}}
{{- end -}}

{{- $html = $html | replaceRE `\*\*\*([^*\n]+?)\*\*\*(\p{L})` "<strong><em>$1</em></strong>$2" -}}
{{- $html = $html | replaceRE `\*\*([^*\n]+?)\*\*(\p{L})` "<strong>$1</strong>$2" -}}

{{- range $i, $span := $codeSpans -}}
  {{- $html = replace $html (printf "__CJK_CODE_%d__" $i) $span -}}
{{- end -}}
{{- range $i, $block := $preBlocks -}}
  {{- $html = replace $html (printf "__CJK_PRE_%d__" $i) $block -}}
{{- end -}}
{{- range $i, $span := $mathSpans -}}
  {{- $html = replace $html (printf "__CJK_MATH_SPAN_%d__" $i) $span -}}
{{- end -}}
{{- range $i, $block := $mathBlocks -}}
  {{- $html = replace $html (printf "__CJK_MATH_BLOCK_%d__" $i) $block -}}
{{- end -}}

{{- return ($html | safeHTML) -}}
