{{- $destination := .Destination -}}
{{- $url := urls.Parse .Destination -}}
{{- $isRemote := $url.IsAbs -}}
{{- $isFragment := strings.HasPrefix .Destination "#" -}}
{{- if and (not $isRemote) (not $isFragment) -}}
  {{- $path := strings.TrimPrefix "./" $url.Path -}}
  {{- $path = strings.TrimPrefix "/assets/" $path -}}
  {{- $path = urls.PathUnescape $path -}}

  {{- with .Page.Resources.GetMatch (path.Base $path) -}}
    {{- $destination = .RelPermalink -}}
  {{- else -}}
    {{- $sourcePath := printf "content/%s%s" .Page.File.Dir $path -}}
    {{- if fileExists $sourcePath -}}
      {{- $destination = printf "/%s" $path -}}
      {{- with .Page.File.Dir -}}
        {{- $destination = printf "/%s%s" . $path -}}
      {{- end -}}
      {{- $destination = $destination | relURL -}}
    {{- else -}}
      {{- with resources.Get $path -}}
        {{- $destination = .RelPermalink -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}

  {{- with $url.RawQuery -}}
    {{- $destination = printf "%s?%s" $destination . -}}
  {{- end -}}
  {{- with $url.Fragment -}}
    {{- $destination = printf "%s#%s" $destination . -}}
  {{- end -}}
{{- end -}}
<img src="{{ $destination | safeURL }}" alt="{{ .Text }}"{{ with .Title }} title="{{ . }}"{{ end }}>
